{% load static %} {% load wagtailimages_tags %}

<div class="auto-container ">
<h1 class="sec-title" style="text-align:center"> {{ self.Block_Title }}</h1>
  <div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingOne">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseOne"
          aria-expanded="true"
          aria-controls="panelsStayOpen-collapseOne"
        >
          {{ self.First_Section_Title }}
        </button>
      </h2>
      <div
        id="panelsStayOpen-collapseOne"
        class="accordion-collapse collapse show"
        aria-labelledby="panelsStayOpen-headingOne"
      >
        <div class="accordion-body">{{ self.First_Section_Content_Text}} </div>
      </div>
    </div>
    {% for section in self.Sections %}
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#{{ section.Section_ID }}"
          aria-expanded="false"
          aria-controls="{{ section.Section_ID }}"
        >
          {{ section.Section_Title }}
          
        </button>
      </h2>
      <div
        id="{{ section.Section_ID }}"
        class="accordion-collapse collapse"        
      >
        <div class="accordion-body auto-container">
        <h2> {{ section.Section_Content_Heading}}</h2>    
        {{ section.Section_Content_Text}} </div>
        <button type="button" class="accordion-content-button"> {% if section.Button_Page %}
          <a href="{{ section.Button_Page }}"><span>{{ section.Button_Text }}</span></a>
          {% elif section.Button_Url %}
          <a href="{{ section.Button_Url }}"><span>{{ section.Button_Text  }}</span></a>
          {% endif %}</button>
      </div>
    </div>
    {% endfor %}
    
    </div>
  </div>
</div>



<script>
  let x = document.querySelectorAll('.accordion-item')
  console.log(x)  


    // Getting the table element
    var tables = document
        .getElementsByTagName("table");

    // Looping over tables
    for (var i = 0; i < tables.length; i++) {

        // Get the ith table
        var table = tables[i];

        // Set the id dynamically
        table.setAttribute("id", i + 1);

        // The line below will also give id
        // dynamically to the tables
        //table.id = i+1;
    }


</script>
